<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout}"
     layout:fragment="content">
    <div class="row row-cols-2 p-4 justify-content-between">
        <div class="text-start">
            <span class="badge badge-sm bg-gradient-secondary">
                <a class="text-uppercase text-white text-xs font-weight-bolder"
                   th:text="${lista.size()}"></a>
            </span>
            <b th:text="#{members.title}"></b>
        </div>
        <div class="text-end">
            <span class="badge badge-sm bg-gradient-info">
                <a class="text-uppercase text-white text-xxs font-weight-bolder"
                   th:href="@{/admin/dirigenza/socio/inserisci}"
                   th:text="#{common.insert}"></a>
            </span>
        </div>
    </div>

    <div class="card-body pt-0">
        <table class="table align-items-center mb-0 edit-table">
            <tbody>
            <tr>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{members.id}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{members.fullName}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{members.gender}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{members.birthdate}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{members.contacts}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{members.points}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{members.joined}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-end" th:text="#{common.operations}"></td>
            </tr>

            <tr th:each="socio : ${lista}">
                <td class="mb-0 text-sm" th:text="${socio.cliente.numeroCliente}"></td>
                <td class="mb-0 text-sm" th:text="${socio.profilo.nome + ' ' + socio.profilo.cognome}"></td>
                <td class="mb-0 text-sm text-center" th:text="${socio.profilo.sesso}"></td>
                <td class="mb-0 text-sm text-center" th:text="${socio.profilo.dataDiNascita}"></td>
                <td class="mb-0 text-sm">
                    <p class="text-xs mb-0" th:utext="#{members.cellphone(${socio.profilo.telefono.toString()})}"></p>
                    <p class="text-xs mb-0" th:utext="#{members.email(${socio.profilo.email})}"></p>
                </td>
                <td class="mb-0 text-sm text-center" th:text="${socio.punteggio}"></td>
                <td class="mb-0 text-sm text-center" th:text="${socio.membroDal}"></td>
                <td class="align-middle text-end text-sm">
                    <a th:href="@{/admin/dirigenza/socio/modifica/} + ${socio.numeroCliente}">
                        <span class="badge badge-sm bg-gradient-success">
                            <i class="ni ni-ruler-pencil text-white text-sm"></i>
                        </span>
                    </a>
                    <a th:href="@{/admin/dirigenza/socio/elimina/} + ${socio.numeroCliente}"
                       th:onclick="|return confirm('[[#{members.confirmdelete}]]')|">
                        <span class="badge badge-sm bg-gradient-danger">
                            <i class="ni ni-fat-remove text-white text-sm"></i>
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
