<div xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      layout:fragment="content">
    <div class="row row-cols-2 p-4 justify-content-between">
        <div class="text-start">
            <span class="badge badge-sm bg-gradient-secondary">
                <a class="text-uppercase text-white text-xs font-weight-bolder"
                   th:text="${lista.size()}"></a>
            </span>
            <b th:text="#{gamerooms.title}"></b>
        </div>
        <div class="text-end">
            <span class="badge badge-sm bg-gradient-info">
                <a class="text-uppercase text-white text-xxs font-weight-bolder"
                   th:href="@{/admin/dirigenza/sala-giochi/inserisci}"
                   th:text="#{common.insert}"></a>
            </span>
        </div>
    </div>

    <div class="card-body pt-0">
        <table class="table align-items-center mb-0 edit-table">
            <tbody>
            <tr>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{gamerooms.id}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{gamerooms.name}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{gamerooms.managers}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{gamerooms.capacity}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{gamerooms.hours}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{gamerooms.location}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-end" th:text="#{common.operations}"></td>
            </tr>

            <tr th:each="sala : ${lista}">
                <td class="mb-0 text-sm" th:text="${sala.codice}"></td>
                <td class="mb-0 text-sm" th:text="${sala.nome}"></td>
                <td class="mb-0 text-sm">
                        <span th:each="dirigente : ${sala.dirigenti}">
                            <span th:text="${dirigente.profilo.nome + ' ' + dirigente.profilo.cognome}"></span><br>
                        </span>
                </td>
                <td class="mb-0 text-sm text-center"
                    th:text="#{gamerooms.capacity_row(${sala.capienza})}"></td>
                <td class="mb-0 text-sm text-center">
                    <p class="text-xs mb-0">
                        <span th:text="#{gamerooms.opening}"></span>: <b th:text="${sala.orarioApertura}"></b>
                    </p>
                    <p class="text-xs mb-0">
                        <span th:text="#{gamerooms.closing}"></span>: <b th:text="${sala.orarioChiusura}"></b>
                    </p>
                </td>
                <td class="mb-0 text-sm">
                    <span th:text="#{gamerooms.location_row(${sala.indirizzo.via}, ${sala.indirizzo.numeroCivico})}"></span>
                    <br>
                    <span th:text="#{gamerooms.location_row2(${sala.indirizzo.cap.toString()}, ${sala.indirizzo.citta}, ${sala.indirizzo.provincia})}"></span>
                </td>
                <td class="align-middle text-end text-sm">
                    <a th:href="@{/admin/dirigenza/sala-giochi/modifica/} + ${sala.codice}">
                            <span class="badge badge-sm bg-gradient-success">
                                <i class="ni ni-ruler-pencil text-white text-sm"></i>
                            </span>
                    </a>
                    <a th:href="@{/admin/dirigenza/sala-giochi/elimina/} + ${sala.codice}"
                       th:onclick="|return confirm('[[#{gamerooms.confirmdelete}]]')|">
                            <span class="badge badge-sm bg-gradient-danger">
                                <i class="ni ni-fat-remove text-white text-sm"></i>
                            </span>
                    </a>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>