@charset "ISO-8859-1";

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: auto;
}

.selezione {
	cursor: pointer;
}

.selezione:hover, .selezione.active {
	background-color: #a7a7a736;	
}

.selezione.selezione-sub {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.maps-hidden {
	display: none;
}

#maps-iframe {
	width: 100%;
	height: 100%;
	min-height: 300px;
	margin: 10px auto;
    padding: 0;
	border: 0;
	border-radius: 10px;
}

.statistiche-chart {
	width:150px;
	height:150px;
}

.console-img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 6px;
}

.genere-img {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-right: 8px;
    border-radius: 100%;
}


.genere-img.uomo {
	background-color: rgb(166, 217, 245);
}

.genere-img.donna {
	background-color: rgb(243, 175, 204);
}

.genere-img.ok {
	background-color: rgb(45 206 166);
}

.genere-img.no {
	background-color: rgb(245 85 64);
}

/* utilizzato in header-menu.jsp */
.padding-left {
    padding-left: 40px;
}

.nav-link {
	cursor: pointer;
}

.table-visualizza>tbody>tr>td {
	border-bottom-width: 0px;
}

.badge-padding {
    padding: 4px 8px 4px 8px;
}

.piattaforma {
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

.avatar {
	cursor: pointer;
}

.avatar>img, .profile-pic {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-bottom: 6px;
    overflow-clip-margin: unset;
    object-fit: cover;
}

.mini-pic {
	width: 30px;
    height: 30px;
    margin-right: 2px;
    margin-bottom: 0px;
}

.avatar:hover {
    filter: blur(0.65px);
}

select {
	cursor: pointer;
}

input#inputFile {
    width: 175px;
    padding-left: 10px;
}

input[type="file"]::-webkit-file-upload-button {
	display: none;
}

label.input-group-text {
	border-right: 1px solid #00000029 !important;
    margin-right: 1px;
}

.freccia {
    padding-top: 0.7px;
    padding-left: 5px;
}
.navbar-brand-img {
    transform: rotate(344deg);
}

.text-xxl {
    font-size: 5rem !important;
}

.text-xl {
    font-size: 4rem !important;
}

.home-ni {
	font-size: 2.3rem !important;
}

.border-bottom-primary {
	border-bottom: 1px solid #00000011;
}


.logo-unirc  {   
	width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center left;
    filter: invert(0.5);
    transition : -webkit-filter 200ms linear;
    -webkit-transition : -webkit-filter 200ms linear;
}

.logo-diies  {
    width: 80px;
    filter: grayscale(1);
    transition : -webkit-filter 200ms linear;
    -webkit-transition : -webkit-filter 200ms linear;
}

.logo-unirc:hover  {
	filter: invert(0.75);
}

.logo-diies:hover  {
	filter: grayscale(0);
}

@media (max-width: 930px) {
    .edit-table>tbody>tr>:nth-child(n+4):nth-last-child(n+2) {
        display: none;
    }
}

@media (max-width: 768px) {
    .edit-table>tbody>tr>:nth-child(n+3):nth-last-child(n+2) {
        display: none;
    }
}

ul.errorMessage {    
	margin: 3px;
    border-radius: 6px;
    background: red;
    color: white;
    padding: 0px 5px 0px 20px;
    display: inline-grid;
    font-weight: 600;
    font-size: 9pt;
}

.alert>span>ul {
	margin: unset;
	background: unset;
	border-radius: unset;
	color: unset;
	padding: unset;
	display: block;
    font-weight: unset;
    font-size: unset;
    
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 6px;
}