<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout}"
     layout:fragment="content">
    <div class="row row-cols-2 p-4 justify-content-between">
        <div class="text-start">
            <span class="badge badge-sm bg-gradient-secondary">
                <a class="text-uppercase text-white text-xs font-weight-bolder"
                   th:text="${lista.size()}"></a>
            </span>
            <b th:text="#{devices.title}"></b>
        </div>
        <div class="text-end">
            <span class="badge badge-sm bg-gradient-info">
                <a class="text-uppercase text-white text-xxs font-weight-bolder"
                   th:href="@{/admin/dirigenza/dispositivo-di-gioco/inserisci}"
                   th:text="#{common.insert}"></a>
            </span>
        </div>
    </div>

    <div class="card-body pt-0">
        <table class="table align-items-center mb-0 edit-table">
            <tbody>
            <tr>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{devices.id}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{devices.acquisitionDate}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{devices.platform}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-end" th:text="#{common.operations}"></td>
            </tr>

            <tr th:each="dispositivo : ${lista}">
                <td class="mb-0 text-sm" th:text="${dispositivo.id}"></td>
                <td class="mb-0 text-sm text-center" th:text="${dispositivo.dataAcquisizione}"></td>
                <td class="mb-0 text-sm" th:text="${dispositivo.tipo}"></td>
                <td class="align-middle text-end text-sm">
                    <a th:href="@{/admin/dirigenza/dispositivo-di-gioco/modifica/} + ${dispositivo.id}">
                        <span class="badge badge-sm bg-gradient-success">
                            <i class="ni ni-ruler-pencil text-white text-sm"></i>
                        </span>
                    </a>
                    <a th:href="@{/admin/dirigenza/dispositivo-di-gioco/elimina/} + ${dispositivo.id}"
                       th:onclick="|return confirm('[[#{devices.confirmdelete}]]')|">
                        <span class="badge badge-sm bg-gradient-danger">
                            <i class="ni ni-fat-remove text-white text-sm"></i>
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
