<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout}"
     layout:fragment="content">
    <div class="row row-cols-2 p-4 justify-content-between">
        <div class="text-start">
            <span class="badge badge-sm bg-gradient-secondary">
                <a class="text-uppercase text-white text-xs font-weight-bolder"
                   th:text="${lista.size()}"></a>
            </span>
            <b th:text="#{requests.title}"></b>
        </div>
        <div class="text-end">
            <span class="badge badge-sm bg-gradient-info">
                <a class="text-uppercase text-white text-xxs font-weight-bolder"
                   th:href="@{/admin/dirigenza/richiede/inserisci}"
                   th:text="#{common.insert}"></a>
            </span>
        </div>
    </div>

    <div class="card-body pt-0">
        <table class="table align-items-center mb-0 edit-table">
            <tbody>
            <tr>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{requests.id}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{requests.assigned}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{requests.station}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder" th:text="#{requests.client}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-center" th:text="#{requests.duration}"></td>
                <td class="text-uppercase text-secondary text-xxs font-weight-bolder text-end" th:text="#{common.operations}"></td>
            </tr>

            <tr th:each="richiesta : ${lista}">
                <td class="mb-0 text-sm" th:text="${richiesta.prenotazione}"></td>
                <td class="mb-0 text-sm text-center">
                    <div style="text-align:-webkit-center">
                        <div th:if="${richiesta.assegnazione != null}" class="genere-img ok"></div>
                        <div th:unless="${richiesta.assegnazione != null}" class="genere-img no"></div>
                    </div>
                </td>
                <td class="mb-0 text-sm">
                    <p class="text-xs mb-0 font-weight-bold" th:text="${richiesta.postazione.dispositivoDiGioco.tipo}"></p>
                    <p class="text-xxs mb-0" th:utext="#{requests.identity(${richiesta.postazione.numero})}"></p>
                </td>
                <td class="mb-0 text-sm">
                    <p class="text-xs mb-0 font-weight-bold" th:text="${richiesta.cliente.socio != null ? richiesta.cliente.socio.profilo.nome + ' ' + richiesta.cliente.socio.profilo.cognome : ''}"></p>
                    <p class="text-xxs mb-0" th:utext="#{requests.identity(${richiesta.cliente.numeroCliente})}"></p>
                </td>
                <td class="mb-0 text-sm text-center" th:text="${richiesta.durata}"></td>
                <td class="align-middle text-end text-sm">
                    <a th:href="@{/admin/dirigenza/richiede/modifica/} + ${richiesta.prenotazione}">
                        <span class="badge badge-sm bg-gradient-success">
                            <i class="ni ni-ruler-pencil text-white text-sm"></i>
                        </span>
                    </a>
                    <a th:href="@{/admin/dirigenza/richiede/elimina/} + ${richiesta.prenotazione}"
                       th:onclick="|return confirm('[[#{requests.confirmdelete}]]')|">
                        <span class="badge badge-sm bg-gradient-danger">
                            <i class="ni ni-fat-remove text-white text-sm"></i>
                        </span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
