<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="~{layout}"
     layout:fragment="content">

    <div class="card card-plain">
        <div class="card-header pb-0 text-start">
            <h4 class="font-weight-bolder"
                th:text="${modifica} ? #{assignments.title.mod} : #{assignments.title.new}"></h4>
            <p class="mb-0"
               th:text="${modifica} ? #{assignments.instructions.mod} : #{assignments.instructions.new}"></p>
        </div>
        <div class="card-body card-body-fix">
            <form th:action="${modifica} ? @{/admin/dirigenza/assegna/modifica/} + *{prenotazione} : @{/admin/dirigenza/assegna/inserisci}"
                  th:object="${assegnazioneForm}"
                  method="post" role="form">

                <div class="mb-3" th:if="${modifica}">
                    <h5 class="font-weight-bolder">
                        <span th:text="#{assignments.reservation}"></span>
                        <span class="badge badge-sm bg-gradient-info badge-padding">
                            <span class="text-uppercase text-white text-md font-weight-bolder"
                                  th:text="*{prenotazione}"></span>
                        </span>
                    </h5>
                </div>

                <div class="mb-3" th:if="${!modifica}">
                    <label th:text="#{assignments.reservation}"></label>
                    <span class="text-danger text-sm" th:if="${#fields.hasErrors('prenotazione')}"
                          th:errors="*{prenotazione}"></span>
                    <select th:field="*{prenotazione}" class="form-control form-control-lg" required>
                        <option th:each="r : ${richieste}"
                                th:value="${r.prenotazione}"
                                th:text="|[${r.prenotazione}] Postazione ${r.postazione.numero} - Durata ${r.durata}|"></option>
                    </select>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-4">
                        <label th:text="#{assignments.cashier}"></label>
                        <span class="text-danger text-sm" th:if="${#fields.hasErrors('cassiere.idDipendente')}"
                              th:errors="*{cassiere}"></span>
                        <select th:field="*{cassiere}" class="form-control form-control-lg" required>
                            <option th:each="c : ${cassieri}"
                                    th:value="${c.idDipendente}"
                                    th:text="|(${c.idDipendente}) ${c.profilo.nome} ${c.profilo.cognome}|"></option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <label th:text="#{assignments.schedule}"></label>
                        <span class="text-danger text-sm" th:if="${#fields.hasErrors('orario')}"
                              th:errors="*{orario}"></span>
                        <input type="time" th:field="*{orario}" class="form-control form-control-lg" required>
                    </div>
                    <div class="col-lg-4">
                        <label th:text="#{assignments.cost}"></label>
                        <span class="text-danger text-sm" th:if="${#fields.hasErrors('costo')}"
                              th:errors="*{costo}"></span>
                        <input type="number" step="0.01" th:field="*{costo}"
                               th:placeholder="#{assignments.cost}"
                               class="form-control form-control-lg" required>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0"
                            th:text="#{${modifica} ? common.update : assignments.assign}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
